.trabajosContainer {
    padding-top: 2%; /* Reduced padding */
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.imagenUnique {
    width: 363.41px; /* Fixed width */
    height: 363.41px; /* Fixed height */
    object-fit: cover; /* Ensures the image is cropped properly */
    transition: transform 0.3s ease-in-out;
}

.imagenContainer {
    position: relative;
    width: 100%; /* Fixed width */
    height: 100%; /* Fixed height */
    overflow: hidden;
    border-radius: 1rem;
}

.imagenContainer:hover .imagenUnique {
    pointer-events: auto;
    transform: scale(1.1);
}

.imagenOverlay {
    position: absolute;
    pointer-events: none; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}

.imagenContainer:hover .imagenOverlay {
    opacity: 1;
    cursor: pointer;
}

.imagenText {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.overlay {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.content {
    margin-top: 10%;
}

.title {
    font-size: 5rem; /* Initial size */
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem; /* Initial size */
    line-height: 1.5;
}

/* Responsive styles */
@media (max-width: 1024px) { /* Tablets */
    .imagenContainer {
        width: 220px;
        height: 220px;
    }
    .overlay {
        width: 80%;
    }

    .title {
        font-size: 4rem; /* Reduce font size */
    }

    .description {
        font-size: 1rem;
    }
}

@media (max-width: 768px) { /* Large mobile devices */
    .imagenContainer {
        width: 180px;
        height: 180px;
    }
    .overlay {
        width: 90%;
    }

    .content {
        margin-top: 5%; /* Reduce top space */
    }

    .title {
        font-size: 3rem;
    }

    .description {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) { /* Small mobile phones */
    .overlay {
        width: 100%;
        padding: 0 10px; /* Add side space */
    }

    .title {
        font-size: 2.5rem;
        text-align: center; /* Center text */
    }

    .description {
        font-size: 0.8rem;
        text-align: justify; /* Improve readability */
    }
    .imagenContainer {
        position: relative;
        width: 100%; /* Fixed width */
        height: 180px; /* Fixed height */
    }
    .imagenUnique {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}